
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}

.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.navbar h1{
    color: #f59797;
}

.navbar .links{
    margin-left: auto;
}

.navbar a{
    padding: 6px;
    margin-left: 16px;
    text-decoration: none;
}

.navbar a:hover{
    color: #f59797;
}

.content{
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

/* blog lists*/
.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 5px solid #f59797;
}

.blog-preview:hover{
    box-shadow: 1px 3px 5px;
}

.blog-preview h2 {
    font-size: 22px;
    color: #e54b4b;
    margin-bottom: 5px;
}